<!DOCTYPE html> 
<html>  
<head> 
    <link rel="stylesheet" href="/css/styles.css">    
  
 </head>  
<body>   
  <div class="main-content">
        {{>header}}
        <p>{{location}}</p>
        <p>{{weather}}</p>
         <p>{{temperature}}</p>
        <p>{{weather_icon}}</p>
        <p>{{rainchance}}</p>
    </div>
    
    {{>footer}}
</body>
</html>